<ion-view title="Alarm" id="page11">
  <ion-content padding="true" class="has-header">

	  <div class="row" style="margin-top: 160px; -webkit-flex-wrap: wrap; flex-wrap: wrap; justify-content: flex-start;">
	    <div style="flex: 0 0 50%;" class="col col-30 text-center">
	    	<button style="width: 135px; height: 135px;" class="button icon-left ion-volume-high button-positive" ng-click="turnOn()">On</button>
	    </div>
	    <div style="flex: 0 0 50%;" class="col col-30 text-center">
	        <button style="width: 135px; height: 135px;" class="button icon-left ion-android-volume-off button-positive" ng-click="turnOff()">Off</button>
	    </div>
	</div>



  </ion-content>
</ion-view>