<ion-view title="Home" id="page7">
  <ion-content padding="true" class="has-header">
  	<div class="row header-banner">
        <img class="logo-center img-responsive" src="img/bannerlogo.jpg" />       
    </div>
    <div class="row">
    <div class="col-90">
            <label style="margin-left: 105px; margin-top: 10px; font-weight: bold; font-size: 15px;">Welcome!!!</label>
            <p style="margin-left: 10px; margin-top: 10px; font-size: 12px;">SMARTHOME is dedicated to providing you with the easiest and most practical way of managing your home from anywhere in the world. </p>
             <label style="margin-left: 10px; margin-top: 10px; font-weight: bold; font-size: 13px;">Control:</label>
            <p style="margin-left: 10px; font-size: 12px;">SMARTHOME is dedicated to providing you with the esiest and most practical way of managing your home from anywhere in the world. </p>
             <label style="margin-left: 10px; margin-top: 10px; font-weight: bold; font-size: 13px;">Analytics:</label>
            <p style="margin-left: 10px; font-size: 12px;">SMARTHOME's intelligent data tracking system provides you with constant access to real time changes in your home's temperature fluctuation, hours of light usage, and humidity levels allowing you to save money on heating, and hydro bills. </p>
             <label style="margin-left: 10px; margin-top: 10px; font-weight: bold; font-size: 13px;">Security:</label>
            <p style="margin-left: 10px; font-size: 12px;">SMARTHOME allows you to view what's going on around your home at anytime of the day. </p>
        </div>
        <div class="col-10">
            <img ng-href="https://ionicframework.com/" width="33.8px" height="33.8px" class="logo-right img-responsive" src="img/ionic.png" />
            <img ng-href="http://emberjs.com/" width="33.8px" height="33.8px" class="logo-right img-responsive" src="img/ember_logo.png" />
            <img ng-href="http://www.intel.ca/content/www/ca/en/homepage.html" width="33.8px" height="33.8px" class="logo-right img-responsive" src="img/intel_logo.jpg" />
            <img ng-href="https://www.android.com/" width="33.8px" height="33.8px" class="logo-right img-responsive" src="img/android_logo.png" />
            <img ng-href="https://www.particle.io/" width="33.8px" height="33.8px" class="logo-right img-responsive" src="img/particle_logo.png"/>
            <img ng-href="https://www.amazon.com/" width="33.8px" height="33.8px" class="logo-right img-responsive" src="img/amazon_logo.jpg" />
            <img ng-href="http://54.173.72.95:4200/" width="33.8px" height="173px" class="logo-right img-responsive" src="img/analytics_logo.jpg" />
        </div>        
    </div>
  </ion-content>
</ion-view>