<ion-view title="Humidity" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="humidity-form10" class="list">
      <label class="item item-input" id="humidity-textarea2">
        <span class="input-label"></span><textarea id="humidityTextArea" ng-model="humidityTextArea" ng-readonly="true"></textarea></label>
        <button id="humidity-button5" class="button button-positive  button-block" ng-click="getHumidity()">Tap me!</button>
    </form>
    
  </ion-content>
</ion-view>