<ion-view title="Light" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="light-form7" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-repeat="light in lights" id="light-toggle5" ng-model="toggleState.checked">{{light.name}}</ion-toggle>
      <!-- <ion-toggle toggle-class="toggle-positive" id="light-toggle5" ng-model="toggleState.checked2">Room 2</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="light-toggle5" ng-model="toggleState.checked3">Room 3</ion-toggle> -->
    </form>
  </ion-content>
</ion-view>