<ion-view title="Livestream" id="page12">
  <ion-content padding="true" class="has-header">
    <!-- <img width=340px height=450px style="margin-right:10px;" src="http://ichef.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" /> -->

    <img width=340px height=450px style="margin-right:10px;" src={{ipAddress}} />
    <div style="display:inline; margin-left:135px; margin-top:10px;">
      <img width=30px height=40px src="img/lefticon.jpg" ng-click="left()">
      <img width=30px height=40px src="img/centericon.png" ng-click="reset()">
      <img width=30px height=40px src="img/righticon.jpg" ng-click="right()">
    </div>

  </ion-content>
</ion-view>